<% provide(:title, "Edit user") %> 

<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3 options_page">
    <div id="change_email">
      <%= form_for(@user, :remote=>true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.hidden_field :password, :value => current_user.password %>
        <%= f.hidden_field :password_confirmation, :value => current_user.password_confirmation %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.submit "update", class: "btn btn-med btn-primary" %>
      <% end %>
    </div>  

    <div id="upload_image">
      <%= form_for(@image, :remote=>true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :alt %>
        <%= f.text_field :alt %>

        <%# if(@user.logo.url != "/logos/original/missing.png") %>
          <%#=h image_tag @user.logo.url %>
        <%# end %>
      
        <%= f.label :image_file, 'Choose the image logo which will appear at the top of your blog' %>
        <%= f.file_field :image_file %>

        <%= f.submit "Upload image", class: "btn btn-med btn-primary" %>
      <% end %>
    </div>  


    <div id="select_logo">
      <%= form_for @user, :remote=>true do |f| %>
        <%= collection_select(:user, :logo, @user.images, :id, :alt)  %>
        <%= f.submit "select logo", class: "btn btn-small btn-primary" %>
      <% end %>
    </div>
      
    <div id="select_bg">
      <%= form_for @user, :remote=>true do |f| %>
        <%= collection_select(:user, :bg_image, @user.images, :id, :alt)  %>
        <%= f.submit "select background image", class: "btn btn-small btn-primary" %>
      <% end %>
    </div>

    <div id="select_avatar">
      <%= form_for @user, :remote=>true do |f| %>
        <%= collection_select(:user, :avatar, @user.images, :id, :alt)  %>
        <%= f.submit "select avatar", class: "btn btn-small btn-primary" %>
        <% if(@user.avatar) %>
           <%=h image_tag Image.find_by_id(@user.avatar).image_file.url(:avatar), :alt => @user.name %>
        <% end %>
      <% end %>
    </div>  

    <div id="add_links">
      <h2>Links to appear on right side bar</h2>
      <section class="rhs">
        <ul>
          <div class="rhs_links" id="links">
            
              <%= render @user.links %>
            
          </div>
        </ul>
      </section>

      <%= form_for([@user, @user.links.build], remote: true) do |f| %>
        <%= f.label :url, 'Enter url' %>
        <%= f.text_field :url %>

        <%= f.label :text, 'Enter text for link' %>
        <%= f.text_field :text %>
        
        <%= f.label :image, 'upload image for link' %>
        <%= f.file_field :image %>
        
        <%= f.submit "add link", class: "btn btn-med btn-primary" %>
      <% end %>
    </div>
  
      <script type="text/javascript">        
        $(document).ready(
          function()
          {
            $('.Multiple').jPicker();
          });
      </script>

   
    <div id="color_options">
      <%= form_for(@user, remote: true) do |f| %>
        
        
          Background color:
          <%= f.text_field :bg_color, class: "Multiple options" %>
        </br>

        
          Main column background color:
          <%= f.text_field :col_color, class: "Multiple options" %>
        </br>
        
        
          Font color:
          <%= f.text_field :font_color, class: "Multiple options" %>
        </br>
        
        
          Title color:
          <%= f.text_field :title_color, class: "Multiple options" %>
        
        <br/>

        <%= f.submit "update colors", class: "btn btn-med btn-primary" %>
      <% end %>
    </div>   

    <div id="font_sizes">
      <%= form_for(@user, remote: true) do |f| %>
           
        <%= f.label :font_size %>
        <%= f.text_field :font_size , class: "options" %>

        <%= f.label :title_size %>
        <%= f.text_field :title_size, class: "options" %>

        <%= f.submit "edit font size", class: "btn btn-med btn-primary" %>
      <% end %>
    </div>


    <div id="bio">
      <%= form_for(@user, remote: true) do |f| %>
           <p>Enter a bio</p>
        <%= f.label :bio %>
        <%= f.text_area :bio %>
        <%= f.submit "add/edit bio", class: "btn btn-med btn-primary" %>
      <% end %>
    </div>


      
    <div id="blog_summary">     
       <%= form_for(@user, remote: true) do |f| %>
           <p>Enter a blog summary</p>
          <%= f.label :summary %>
          <%= f.text_area :summary %>
        <%= f.submit "add/edit summary", class: "btn btn-med btn-primary" %>
      <% end %>
    </div>

    <div id="meta_keywords">
      <%= form_for(@user, remote: true) do |f| %>
        <p>Enter keywords for your blogs meta tag</p>
        <%= f.label :keywords %>
        <%= f.text_area :keywords %>
        <%= f.submit "add/edit keywords", class: "btn btn-med btn-primary" %>
      <% end %>
    </div>
  </div>
</div>