<% provide(:title, @title) %>
<div class="row">
	<aside class="span4">
		<section>
			<% if user.avatar %>
			  <%=h link_to image_tag(Image.find_by_id(user.avatar).image_file.url(:avatar), :alt => user.name, :class => 'avatar', :width => '64'), user %>
			<% else %>
	   		  <%= link_to image_tag("defaultavatar.jpeg", alt: user.name, :size => '64x64'), user, {:class => 'avatar'} %>
			<% end %>
			<h1><%= @user.name %></h1>
			<span><%= link_to "view my profile", @user %></span>
			<span><b>Microposts:</b> <%= @user.microposts.count %></span>
		</section>
		<section>
			<%= render 'shared/stats' %>
			<% if @users.any? %>
				<div class="user_avatars">
					<% @users.each do |user| %>
						<% if user.avatar %>
							<%=h link_to image_tag(Image.find_by_id(user.avatar).image_file.url(:avatar), :alt => user.name, :class => 'avatar', :width => '32'), user %>
						<% else %>
	   						<%= link_to image_tag("defaultavatar.jpeg", alt: user.name, :size => '32x32'), user, {:class => 'avatar'} %>
						<% end %>
					<% end %>
				</div>
			<% end %>
		</section>
	</aside>
	<div class="span8">
		<h3><%= @title %></h3>
		<% if @users.any? %>
			<ul class="users">
				<%= render @users %>
			</ul>
			<%= will_paginate %>
		<% end %>
	</div>
</div>