<li id="<%= feed_item.id %> " class="post_intro">
  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <span class="title"><%= link_to feed_item.title, feed_item %></span>
  <span class="content"><%=feed_item.content.split(' ').slice(0,50).join(' ') %></span>
  <span class="date">
    Posted <%= feed_item.created_at %> 
  </span>
  <% if current_user?(feed_item.user) || current_user.admin %>
    <%= link_to "delete", feed_item, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: feed_item.title %>
  <% end %>
</li>
