<li id="<%= feed_item.id %> " class="post_intro">
  <% if feed_item.user.avatar %>
    <%=h link_to image_tag(Image.find_by_id(feed_item.user.avatar).image_file.url(:avatar), :alt => feed_item.user.name, :class => 'avatar', :width => '64'), feed_item.user %>
  <% else %>
     <%= link_to image_tag("defaultavatar.jpeg", alt: feed_item.user.name, :size => '64x64'), feed_item.user, {:class => 'avatar'} %>
  <% end %>

  
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <span class="title"><%= link_to feed_item.title, feed_item %></span>
  <span class="content"><%=feed_item.content.split(' ').slice(0,50).join(' ') %></span>
  <span class="date">
    Posted <%= feed_item.created_at %> 
  </span>
  <% if current_user?(feed_item.user) || current_user.admin %>
    <%= link_to "delete", feed_item, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: feed_item.title %>
  <% end %>
</li>
