<% if @recent_posts.any? %>
  <ol class="posts">
    <% @recent_posts.each do |post| %>
    	<li id="<%=post.id %>" class="post_intro">
    		<% if post.user.avatar %>
                <%=h link_to image_tag(Image.find_by_id(post.user.avatar).image_file.url(:avatar), :alt => post.user.name, :class => 'avatar', :width => '64'), post.user %>
            <% else %>
                <%= link_to image_tag("defaultavatar.jpeg", alt: post.user.name, :size => '64x64'), post.user, {:class => 'avatar'} %>
            <% end %>

    		<span class="user">
    			<%= link_to post.user.name, post.user %>
    		</span>
    		<span class="title"><%= link_to post.title, post %></span>
    		<span class="content"><%= simple_format post.content.split(' ').slice(0,50).join(' ') %>
    		</span>
    		<span class="date">
    			Posted <%= post.created_at %>
    		</span>
    	</li>
    <% end %>
  </ol>
<% end %>

