<%= div_for post do %>
	<li class="post_intro">
		<% if post.user.avatar %>
		  <%=h link_to image_tag(Image.find_by_id(post.user.avatar).image_file.url(:avatar), :alt => post.user.name, :class => 'avatar', :width => '64'), post.user %>
	    <% else %>
	      <%= link_to image_tag("defaultavatar.jpeg", alt: post.user.name, :size => '64x64'), post.user, {:class => 'avatar'} %>
	    <% end %>
	    <span class="user">
	  	  <%= link_to post.user.name, post.user %>
	    </span>
		<span class="title"><%= link_to post.title, post %></span>
		
		<span class="content"><%= post.content.split(' ').slice(0,50).join(' ') %></span>
		<span class="date">Posted <%= post.created_at %></span>
		<% if current_user %>
			<% if current_user?(post.user) || current_user.admin %>
				<%= link_to "edit post", edit_post_path(post) %> 
				<%= link_to "delete", post, method: :delete,
											remote: true,
											data: { confirm: "Remove post?" },
											title: post.title %>
			<% end %>
		<% end %>
	</li>
<% end %>