<!-- <style type="text/css">

    body{
      

        background-color:#E0E0E0;
        
    }
</style> -->

<div class="row" ><!--style = "<%= show_blog_bg %>"> -->
  <aside class="span2">
    <section>
      <!--left side can go here, to go in a partial later -->
    </section>
  </aside>

  <div class="span6">
  	<section>

      <% if(@post.user.logo.url(:standard) != "/logos/original/missing.png") %>
        <%=h image_tag @post.user.logo.url(:standard) %>
      <% end %>
    	
      <p class="post_title"><%= @post.title %></p>

		<div class="post_content">
        <%= simple_format @post.content %>
    </div>
    <% if signed_in? %>
  		<% if (current_user?(@post.user)) || (current_user.admin)%>
  			<div class="controls">
          <%= link_to "edit post", edit_post_path(@post) %>
    			<%= link_to "delete", @post, method: :delete,
    										data: { confirm: "you sure?" },
    										title: @post.title %>                  
        </div>
  		<% end %>
     <% end %> 
    </section>


    <div class="comments" id ="comments">
      <% if @post.comments.any? %>
        <h2>Comments</h2>
      <% end %>  
      
      <%= render @post.comments %>
    </div>  

    <div class="comment_form">
      <h2>Leave a comment:</h2>
      <%= form_for([@post, @post.comments.build], remote: true) do |f| %>
      	<% if signed_in? %>
  			  <%= f.hidden_field :commenter, :value => current_user.name %>
      	<% else %>
      	  <p>
  	    	Name:
  	    	<%= f.text_field :commenter %>
  	      </p>
  	    <% end %>
  	    <p>
  	    	<%= f.text_area :body %>
  	    </p>
  	    <p>
  	    	<%= f.submit class: "btn btn-large" %>
  	    </p>
  	  <% end %>
    </div>
  </div>
  <aside class="span4 righthandside">

    <!- LINKS< PUT IN PARTILAL LATER-->

    <section class="rhs">
      <div class="rhs_links" id="links">
        <% if @user.links.any? %>
          <h2> Links</h2>
          <ul>
              <%= render @user.links %>
          </ul>
        <% end %>  
      </div>  
<!- LIST OF OLDER POSTS, PUT IN PARTIAL LATER   -->

        <h2 class = "oldposts">Older posts</h2>
        <div id = "listContainer">
          <ul id="expList">
            
              <% curr_year = nil %>
              <% curr_month = nil %>  

              <% @post.user.posts.each do |post| %>
                <% if (curr_year == nil) || (curr_year != post.created_at.year) %>
                  <% if (curr_year != nil) %>
                      </ul >
                    </li>
                    </ul>
                    </li>
                  <% end %>

                  <% curr_year = post.created_at.year %>
                  <% curr_month = nil %>
                  <li> <%= curr_year %> 
                  <ul>
                <% end %>

                <% if (curr_month == nil) || (curr_month != post.created_at.month) %>
                  <% if curr_month == nil %>
                  <% else %>
                      </ul>
                    </li>
                  <% end %>
                  <li>
                    <% curr_month = post.created_at.month %>
                    <%= post.created_at.strftime("%B") %>
                    <ul> 
                <% end %>
                      <li>
                        <%= link_to post.title, post %>
                      </li>
              <% end %>
            
          </ul>
        </div>

        <!-- bio -->
        <div id = "bio" >
          <% if @user.bio != nil %>
            <h2>About the author</h2>
            <%= simple_format @user.bio %>
          <% end %>    
        </div>
    </section>
  </aside>
</div>  

